GHCR_USERNAME=
GHCR_READ_TOKEN=
AZURE_CREDENTIALS=
AZURE_RESOURCE_GROUP=LMIS
AZURE_WEBAPP_NAME=mokhitli-lmis-full-system
AZURE_APP_SETTINGS=
PRODUCTION_AZURE_BASE_URL=https://mokhitli-lmis-full-system.azurewebsites.net
PRODUCTION_AZURE_DB_HOST=
PRODUCTION_AZURE_DB_PORT=5432
PRODUCTION_AZURE_DB_NAME=
PRODUCTION_AZURE_DB_USER=
PRODUCTION_AZURE_DB_PASSWORD=
VPS_HOST=
VPS_PORT=22
VPS_USERNAME=
VPS_SSH_KEY=
VPS_APP_DIR=
PRODUCTION_VPS_BASE_URL=
PRODUCTION_VPS_DB_HOST=
PRODUCTION_VPS_DB_PORT=5432
PRODUCTION_VPS_DB_NAME=
PRODUCTION_VPS_DB_USER=
PRODUCTION_VPS_DB_PASSWORD=
