GHCR_USERNAME=
GHCR_READ_TOKEN=
AZURE_CREDENTIALS=
STAGING_AZURE_RESOURCE_GROUP=LMIS
STAGING_AZURE_WEBAPP_NAME=mokhitli-lmis-staging
STAGING_AZURE_APP_SETTINGS=
STAGING_AZURE_BASE_URL=https://mokhitli-lmis-staging.azurewebsites.net
STAGING_VPS_HOST=
STAGING_VPS_PORT=22
STAGING_VPS_USERNAME=
STAGING_VPS_SSH_KEY=
STAGING_VPS_APP_DIR=
STAGING_VPS_BASE_URL=
